.speech {
font-family: 'Times New Roman', Times, serif;
font-size: small;
color: black;
}
.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: aqua;
}
.direction:hover {
    background-color: blanchedalmond;
    color: blueviolet;

}
.LUKA {
    color: brown;
    
}
.LUKA:hover {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.7);
}
.POPOVA {
    color: blue;
}
.POPOVA:hover {
  box-shadow: 0 0 8px rgba(255, 165, 0, 0.7);
}
.createdtable {
    width: 90%;
    border-collapse: collapse;
    margin: bottom 15px; ;
  }
.createdtable th,table td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }
.createdtable th {
    background-color: violet;
  }
.createdtable tr:nth-child(even) {
    background-color: orange;
  }

  