.speech {
font-family: 'Times New Roman', Times, serif;
font-size: small;
color: black;
}
.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: aqua;
}
.direction:hover {
    background-color: blanchedalmond;
    color: blueviolet;

}
.LUKA {
    color: brown;
    
}
.LUKA:hover {
  text-shadow: 5px 5px 10px crimson;
}
.POPOVA {
    color: blue;
}
.POPOVA:hover {
  text-shadow: 5px 5px 10px blue;
}
.createdtable {
    width: 90%;
    border-collapse: collapse;
    margin: bottom 15px; ;
  }
.createdtable th,table td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }
.createdtable th {
    background-color: violet;
  }
.createdtable tr:nth-child(even) {
    background-color: orange;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.1);
}

  